
main section {
  display: inline-block;
  margin-right: 1.5em;
  vertical-align: top;
}

main details, main p, dialog div.p {
  margin: 1em 0;
}

details label {
  line-height: 2rem;
}

main p.clock {
  font-size: 2rem;
  margin: 0.5rem 3rem 0 3rem;
  font-family: monospace;
  min-width: 5.5rem;
  text-align: center;
}

main p.clock.stopped {
  color: grey;
}

main p.clock-controls {
  margin-top: 0.1rem;
  text-align: center;
}

.game-container {
  display: flex;
}

.game.left {
  margin-right: auto;
}

.game.center {
  margin: 0 auto;
}

.game.right {
  margin-left: auto;
}

.game table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 1rem;
}

.game table.squared {
  width: max-content;
}

.game td {
  --cell-size: 1rem;
  --block-separator-color: rgb(136, 136, 0);
  --block-separator-width: 3px;
  --shadow-color: rgb(196, 196, 196);
  --shadow-size: 6px;
  width: var(--cell-size);
  height: var(--cell-size);
  padding: 0;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.game td.tile {
  --cell-size: 1.5rem;
  border: 1px solid black;
  touch-action: pinch-zoom;
}

.game table.no-draw td.tile {
  touch-action: unset;
}

/** 5x5 block separator lines **/
.game td:nth-last-child(5n+1) {
  border-right-color: var(--block-separator-color);
  border-right-width: var(--block-separator-width);
}

.game td:nth-last-child(5n) {
  border-left-color: var(--block-separator-color);
  border-left-width: var(--block-separator-width);
}

.game tr:nth-last-child(5n+1) td {
  border-bottom-color: var(--block-separator-color);
  border-bottom-width: var(--block-separator-width);
}

.game tr:nth-last-child(5n) td {
  border-top-color: var(--block-separator-color);
  border-top-width: var(--block-separator-width);
}

/** Box shadow made from many small shadows **/
.game td.tile:last-child {
  box-shadow: var(--shadow-size) 0px 0px 0px var(--shadow-color);
}

.game tr:last-child td.tile {
  box-shadow: 0px var(--shadow-size) 0px 0px var(--shadow-color);
}

.game tr:last-child td.tile:last-child {
  box-shadow: calc(var(--shadow-size) / 2) calc(var(--shadow-size) / 2) 0px calc(var(--shadow-size) / 2) var(--shadow-color);
}

@media (hover: hover) and (pointer: fine) {
  .game td.tile:hover {
    background-color: darkseagreen;
  }
}

div.labled-slider {
  display: inline-flex;
  flex-direction: column;
}

dialog div.labled-slider {
  min-width: 12rem;
}

div.labled-slider ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

#saved-games-dialog td {
  padding: 0.5rem 1rem;
}

#saved-games-dialog td input {
  width: 7rem;
}
